body {
  background-image: url(lego.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: center;*/
}

h1 {
  color: beige;
  text-align: center;
  font-family: monospace;
  margin-top: 100px;
}
th {
  margin-left: : 50px;
}

.transbox {
    margin: 30px;
    /*background-color: #ffffff;*/
    /*border: 1px solid black;*/
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /*grid-gap: 5px;*/
  grid-auto-rows: minmax(100px, auto);
  /*border-radius:*/
  /*border: solid grey;
   border: 20px;*/
  grid-column-gap: 10px;

}

.frame {
    outline: 10px solid black;
    text-align: center;
    background-color: #9BB1EC;

}

#addScoreToPlayerOne {
text-align: center;
}

#addScoreToPlayerTwo {
text-align: center;
}

#category-one {
  grid-column: 2;
  grid-row: 2;
  font-weight: bold;
}
#category-two {
  grid-column: 3;
  grid-row: 2;
  font-weight: bold;
}
#category-three {
  grid-column: 4;
  grid-row: 2;
  font-weight: bold;
}
#category-four {
  grid-column: 5;
  grid-row: 2;
  font-weight: bold;
}
#category-five {
  grid-column: 6;
  grid-row: 2;
  font-weight: bold;
}

#category-one-question-one{
  grid-column: 2;
  grid-row: 3;
}
#category-two-question-one{
  grid-column: 3;
  grid-row: 3;
}
#category-three-question-one{
  grid-column: 4;
  grid-row: 3;
}
#category-four-question-one{
  grid-column: 5;
  grid-row: 3;
}
#category-five-question-one{
  grid-column: 6;
  grid-row: 3;
}

#category-one-question-two{
  grid-column: 2;
  grid-row: 4;
}
#category-two-question-two{
  grid-column: 3;
  grid-row: 4;
}
#category-three-question-two{
  grid-column: 4;
  grid-row: 4;
}
#category-four-question-two{
  grid-column: 5;
  grid-row: 4;
}
#category-five-question-two{
  grid-column: 6;
  grid-row: 4;
}

#category-one-question-three{
  grid-column: 2;
  grid-row: 5;
}
#category-two-question-three{
  grid-column: 3;
  grid-row: 5;
}
#category-three-question-three{
  grid-column: 4;
  grid-row: 5;
}
#category-four-question-three{
  grid-column: 5;
  grid-row: 5;
}
#category-five-question-three{
  grid-column: 6;
  grid-row: 5;
}

#category-one-question-four{
  grid-column: 2;
  grid-row: 6;
}
#category-two-question-four{
  grid-column: 3;
  grid-row: 6;
}
#category-three-question-four{
  grid-column: 4;
  grid-row: 6;
}
#category-four-question-four{
  grid-column: 5;
  grid-row: 6;
}
#category-five-question-four{
  grid-column: 6;
  grid-row: 6;
}

#category-one-question-five{
  grid-column: 2;
  grid-row: 7;
}
#category-two-question-five{
  grid-column: 3;
  grid-row: 7;
}
#category-three-question-five{
  grid-column: 4;
  grid-row: 7;
}
#category-four-question-five{
  grid-column: 5;
  grid-row: 7;
}
#category-five-question-five{
  grid-column: 6;
  grid-row: 7;
}
