body {
  background-image: url(lego.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  color: beige;
  text-align: center;
  font-family: monospace;
  margin-top: 100px;
  text-shadow: 4px 2px black ;
}
th {
  margin-left:50px;
}

.transbox {
    margin: 30px;

    opacity: 0.7;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    /*display: none;*/
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 10px;
}

.wrapperAnswer {
  display: none;
}

.frame {
    outline: 10px solid black;
    padding: 30px;
    text-align: center;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.frameQuestion {
  width: 1050px;
  height: 100px;
  padding: 22px;
  border: 8px solid black;
  border-radius: 20px;
  text-align: center;
  opacity: 0.7;
  background-color: #ffffff;
}
.frame-score {
  width: 525px;
  height: 50px;
  border: 5px solid black;
  border-radius: 20px;
  text-align: center;
  padding: 7px;
  opacity: 0.7;
  background-color: #ffffff;
  font-weight: bold;
  font-family: fantasy;
  text-shadow: 2px 2px #DC1808 ;
}

.frame-answer {
  width: 525px;
  height: 100px;
  padding: 30px;
  border: 5px solid black;
  border-radius: 20px;
  text-align: center;
  opacity: 0.7;
  font-size: 20px;
  font-weight: bold;
}

#skipButton {
 display: flex;
 justify-content: center;
}


#category-one {
  grid-column: 2;
  grid-row: 2;
  font-weight: bold;
}
#category-two {
  grid-column: 3;
  grid-row: 2;
  font-weight: bold;
}
#category-three {
  grid-column: 4;
  grid-row: 2;
  font-weight: bold;
}
#category-four {
  grid-column: 5;
  grid-row: 2;
  font-weight: bold;
}
#category-five {
  grid-column: 6;
  grid-row: 2;
  font-weight: bold;
}

#category-one-question-one{
  grid-column: 2;
  grid-row: 3;
}
#category-two-question-one{
  grid-column: 3;
  grid-row: 3;
}
#category-three-question-one{
  grid-column: 4;
  grid-row: 3;
}
#category-four-question-one{
  grid-column: 5;
  grid-row: 3;
}
#category-five-question-one{
  grid-column: 6;
  grid-row: 3;
}

#category-one-question-two{
  grid-column: 2;
  grid-row: 4;
}
#category-two-question-two{
  grid-column: 3;
  grid-row: 4;
}
#category-three-question-two{
  grid-column: 4;
  grid-row: 4;
}
#category-four-question-two{
  grid-column: 5;
  grid-row: 4;
}
#category-five-question-two{
  grid-column: 6;
  grid-row: 4;
}

#category-one-question-three{
  grid-column: 2;
  grid-row: 5;
}
#category-two-question-three{
  grid-column: 3;
  grid-row: 5;
}
#category-three-question-three{
  grid-column: 4;
  grid-row: 5;
}
#category-four-question-three{
  grid-column: 5;
  grid-row: 5;
}
#category-five-question-three{
  grid-column: 6;
  grid-row: 5;
}

#category-one-question-four{
  grid-column: 2;
  grid-row: 6;
}
#category-two-question-four{
  grid-column: 3;
  grid-row: 6;
}
#category-three-question-four{
  grid-column: 4;
  grid-row: 6;
}
#category-four-question-four{
  grid-column: 5;
  grid-row: 6;
}
#category-five-question-four{
  grid-column: 6;
  grid-row: 6;
}

#category-one-question-five{
  grid-column: 2;
  grid-row: 7;
}
#category-two-question-five{
  grid-column: 3;
  grid-row: 7;
}
#category-three-question-five{
  grid-column: 4;
  grid-row: 7;
}
#category-four-question-five{
  grid-column: 5;
  grid-row: 7;
}
#category-five-question-five{
  grid-column: 6;
  grid-row: 7;
}
